:root {

    --Dark: hsl(0, 0%, 12%);
    --White: hsl(0, 0%, 100%);
    --Green: hsl(75, 94%, 57%);
    --Grey: hsl(0, 0%, 20%);
    --offBlack: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    /* background-color: red; */
}

.container {
    width: 350px;
    background-color: var(--Dark);
    margin: 0 auto;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 48px;
}

.userPic {
    border-radius: 50%;
    width: 80px;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 16px;
}

.user_info {

    margin-bottom: 20px;

    h1 {
        color: var(--White);
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 6px;
    }

    p {
        color: var(--Green);
        font-size: 12px;
        text-align: center;
    }
}

.bio {
    color: var(--White);
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

.links {
    margin-top: 32px;
    margin-bottom: 32px;

    li {
        font-size: 14px;
        font-weight: 500;
        width: 302px;
        margin-inline: auto;
        margin-bottom: 12px;
        text-align: center;
        list-style: none;
        border-radius: 6px;
        padding: 12px 12px;
        background-color: var(--Grey);

        a {
            text-decoration: none;
            color: var(--White);
        }
    }
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}